body {
    background-color: #F5F5DC; /* Teste de cor de fundo */
    color: black; /* Cor padrão do texto no corpo */
}

.navbar {
    background-color: #ff5722; /* Cor de fundo personalizada para a barra de navegação */
}

 h5, span {
    background-color: rgb(201, 245, 248); /* Fundo preto para o texto do título */
    color: rgb(0, 0, 0); /* Cor das palavras em branco */
    display: inline; /* Apenas o fundo das palavras fica preto */
    padding: 2px; /* Espaçamento interno opcional */
}

/* Estilo para o texto do meio da página */
main, p, span, li, a {
    font-weight: bold; /* Texto em negrito */
}